In [37]:
import pandas as pd
import geopandas as gpd
import glob
import os
import numpy as np
from shapely.geometry import Point

## Traffic detector location data

In [10]:
geo_path = "data/teu_standorte.json" 

gdf_det = gpd.read_file(geo_path)

gdf_det = gdf_det.rename(columns={"teuID": "detector_id"})
gdf_det["detector_id"] = gdf_det["detector_id"].astype(str)

print("Detector locations loaded:", len(gdf_det))

Detector locations loaded: 538

In [11]:
gdf_det.head(5)

,detector_id,Position,Location,Direction,Start of Operation,Lane,geometry
0,TEU00002_Det0,A115,AS Spanische Allee – Brücke,Südwest,2003-02-18,Hauptfahrbahn rechte Spur,POINT (13.19258 52.43387)
1,TEU00002_Det1,A115,AS Spanische Allee – Brücke,Südwest,2003-02-18,"Hauptfahrbahn, 2. Spur von rechts",POINT (13.19258 52.43387)
2,TEU00002_Det2,A115,AS Spanische Allee – Brücke,Nordost,2003-02-18,Hauptfahrbahn rechte Spur,POINT (13.19275 52.43381)
3,TEU00002_Det3,A115,AS Spanische Allee – Brücke,Nordost,2003-02-18,"Hauptfahrbahn, 2. Spur von rechts",POINT (13.19275 52.43381)
4,TEU00004_Det0,Clayallee,zwischen Scharfestraße und Propst-Süssmilch-We...,Süd,2003-02-18,Hauptfahrbahn rechte Spur,POINT (13.2613 52.43664)

In [13]:
gdf_det.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
533    False
534    False
535    False
536    False
537    False
Length: 538, dtype: bool

In [14]:
traffic_path = "data/detektoren_2024_01/"  #jan month

files = glob.glob(os.path.join(traffic_path, "*.csv"))

traffic_frames = []

for f in files:    
    df = pd.read_csv(f, sep=";", low_memory=False)

    # Extract detector_id from filename
    detector_id = os.path.basename(f).replace(".csv", "")
    df["detector_id"] = detector_id

    # Convert date column
    if "Datum (Ortszeit)" in df.columns:
        df["date_local"] = pd.to_datetime(df["Datum (Ortszeit)"], errors="coerce")
    
    # Convert hour column (should be numeric)
    if "Stunde des Tages (Ortszeit)" in df.columns:
        df["hour_local"] = pd.to_numeric(df["Stunde des Tages (Ortszeit)"], errors="coerce")
    
    # Clean vehicle count columns
    for col in ["qkfz", "qpkw", "qlkw", "vkfz", "vpkw", "vlkw"]:
        if col in df.columns:
            df[col] = pd.to_numeric(df[col], errors="coerce")
    
    # Drop rows where date is missing
    df = df.dropna(subset=["date_local"])

    traffic_frames.append(df)

# Combine all detectors
traffic_raw = pd.concat(traffic_frames, ignore_index=True)

print("Traffic rows loaded:", len(traffic_raw))

Traffic rows loaded: 544025

In [16]:
traffic_raw.head()

,Datum (Ortszeit),Stunde des Tages (Ortszeit),Vollständigkeit,ZScore_Det0,ZScore_Det1,ZScore_Det2,hist_cor,localTime,month,qkfz,qlkw,qpkw,utc,vkfz,vlkw,vpkw,detector_id,date_local,hour_local
0,2024-01-01,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-12-31 23:00:00+00:00,NaN,NaN,NaN,TEU00002_Det0,2024-01-01,0
1,2024-01-01,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-01 00:00:00+00:00,NaN,NaN,NaN,TEU00002_Det0,2024-01-01,1
2,2024-01-01,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-01 01:00:00+00:00,NaN,NaN,NaN,TEU00002_Det0,2024-01-01,2
3,2024-01-01,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-01 02:00:00+00:00,NaN,NaN,NaN,TEU00002_Det0,2024-01-01,3
4,2024-01-01,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-01 03:00:00+00:00,NaN,NaN,NaN,TEU00002_Det0,2024-01-01,4

In [17]:
from ydata_profiling import ProfileReport

# Create the profile report
profile = ProfileReport(traffic_raw, title="EDA Report", explorative=True)

profile.to_file("eda_traffic_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

  0%|          | 0/19 [00:00<?, ?it/s]
  5%|▌         | 1/19 [00:06<01:33,  5.18s/it]
 11%|█         | 2/19 [00:10<00:47,  2.81s/it]
 16%|█▌        | 3/19 [00:10<00:55,  3.48s/it]
 21%|██        | 4/19 [00:11<00:32,  2.17s/it]
 26%|██▋       | 5/19 [00:11<00:21,  1.56s/it]
 32%|███▏      | 6/19 [00:11<00:14,  1.13s/it]
 42%|████▏     | 8/19 [00:12<00:07,  1.45it/s]
100%|██████████| 19/19 [00:12<00:00,  1.56it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [18]:
merged = traffic_raw.merge(
    gdf_det[["detector_id", "geometry", "Position", "Location", "Direction"]],
    on="detector_id",
    how="left"
)

In [24]:
merged[merged["geometry"].isna()].head()

,Datum (Ortszeit),Stunde des Tages (Ortszeit),Vollständigkeit,ZScore_Det0,ZScore_Det1,ZScore_Det2,hist_cor,localTime,month,qkfz,...,vkfz,vlkw,vpkw,detector_id,date_local,hour_local,geometry,Position,Location,Direction
126882,2024-01-01,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,TEU00119_Det0,2024-01-01,0,None,NaN,NaN,NaN
126883,2024-01-01,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,TEU00119_Det0,2024-01-01,1,None,NaN,NaN,NaN
126884,2024-01-01,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,TEU00119_Det0,2024-01-01,2,None,NaN,NaN,NaN
126885,2024-01-01,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,TEU00119_Det0,2024-01-01,3,None,NaN,NaN,NaN
126886,2024-01-01,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,TEU00119_Det0,2024-01-01,4,None,NaN,NaN,NaN

In [29]:
merged["Location"].isna().sum()

14950

In [27]:
merged[merged["geometry"].isna()].detector_id.unique()

array(['TEU00119_Det0', 'TEU00119_Det1', 'TEU00257_Det0', 'TEU00257_Det1',
       'TEU00262_Det0', 'TEU00262_Det1', 'TEU00312_Det0', 'TEU00312_Det1',
       'TEU00533_Det0', 'TEU00533_Det1', 'TEU00539_Det0', 'TEU00539_Det1'],
      dtype=object)

In [30]:
# Extract detector IDs from traffic data
traffic_ids = set(traffic_raw["detector_id"].unique())

# Extract detector IDs from location GeoJSON
location_ids = set(gdf_det["detector_id"].unique())

# Find mismatches
traffic_not_in_location = traffic_ids - location_ids
location_not_in_traffic = location_ids - traffic_ids

print("IDs in traffic but not in location:", len(traffic_not_in_location))
print(list(traffic_not_in_location)[:10])

print("IDs in location but not in traffic:", len(location_not_in_traffic))
print(list(location_not_in_traffic)[:10])

IDs in traffic but not in location: 12
['TEU00262_Det1', 'TEU00119_Det1', 'TEU00533_Det0', 'TEU00257_Det0', 'TEU00257_Det1', 'TEU00262_Det0', 'TEU00119_Det0', 'TEU00312_Det1', 'TEU00539_Det1', 'TEU00533_Det1']
IDs in location but not in traffic: 65
['TEU00532_Det0', 'teuscalaS00000DD00379D1', 'TEU00127_Det0', 'teuscalaS00000DD00371D0', 'TEU00154_Det0', 'TEU00341_Det0', 'TEU00529_Det1', 'teuscalaS00000DD00364D1', 'teuscalaS00000DD00381D0', 'teuscalaS00000DD00363D1']

In [32]:
df = pd.read_csv("data/berlin_street_lamps_maps.csv")

C:\Users\aleen\AppData\Local\Temp\ipykernel_29288\1451437980.py:1: DtypeWarning: Columns (3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/berlin_street_lamps_maps.csv")

In [35]:
df.head()

,X,Y,osm_id,name,barrier,highway,ref,address,is_in,place,man_made,other_tags
0,13.325016,52.555609,29686248,NaN,NaN,street_lamp,18,NaN,NaN,NaN,NaN,NaN
1,13.443571,52.448114,285474812,NaN,NaN,street_lamp,NaN,NaN,NaN,NaN,NaN,"""support""=>""wall_mounted"""
2,13.445877,52.470136,474962531,NaN,NaN,street_lamp,NaN,NaN,NaN,NaN,NaN,"""direction""=>""5"",""lamp_mount""=>""wall"",""operato..."
3,13.445337,52.470069,474962532,NaN,NaN,street_lamp,NaN,NaN,NaN,NaN,NaN,"""direction""=>""305"",""lamp_mount""=>""wall"",""opera..."
4,13.405110,52.578562,525965476,NaN,NaN,street_lamp,NaN,NaN,NaN,NaN,surveillance,NaN

In [38]:
gdf = gpd.GeoDataFrame(
    df,
    geometry=[Point(xy) for xy in zip(df["X"], df["Y"])],
    crs="EPSG:4326"
)

In [39]:
gdf.head()

,X,Y,osm_id,name,barrier,highway,ref,address,is_in,place,man_made,other_tags,geometry
0,13.325016,52.555609,29686248,NaN,NaN,street_lamp,18,NaN,NaN,NaN,NaN,NaN,POINT (13.32502 52.55561)
1,13.443571,52.448114,285474812,NaN,NaN,street_lamp,NaN,NaN,NaN,NaN,NaN,"""support""=>""wall_mounted""",POINT (13.44357 52.44811)
2,13.445877,52.470136,474962531,NaN,NaN,street_lamp,NaN,NaN,NaN,NaN,NaN,"""direction""=>""5"",""lamp_mount""=>""wall"",""operato...",POINT (13.44588 52.47014)
3,13.445337,52.470069,474962532,NaN,NaN,street_lamp,NaN,NaN,NaN,NaN,NaN,"""direction""=>""305"",""lamp_mount""=>""wall"",""opera...",POINT (13.44534 52.47007)
4,13.405110,52.578562,525965476,NaN,NaN,street_lamp,NaN,NaN,NaN,NaN,surveillance,NaN,POINT (13.40511 52.57856)